/**
 * style for the account page
 *
 * @author CHATEAUX Adrien
 */

#pwd_change_frame {
    display: none;
}

#title {
    margin-left: 25px;
}

.frame {
    display: grid;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.form_frame {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main_frame {
    width: 50rem;
    height: auto;
    margin: 25px 25px 25px 25px;
    display: grid;
    align-items: flex-start;
    background-size: auto;
    background-color: #414141;
    border-radius: 10px;
    padding: 25px;
}

#show_form_button {
    background-color: #f2f2f2;
    padding: 25px;
    margin-right: 30rem;
    border-radius: 50px;
}

#submit_pwd_change {
    background-color: #f2f2f2;
    padding: 25px 75px 25px 75px;
    border-radius: 50px;
    margin-top: 10px;
}

@media (max-width: 920px) {
    #main_frame {
        width: auto;
    }

    #show_form_button {
        margin-right: auto;
    }
}

@media (max-width: 400px) {
    #show_form_button {
        padding: 10px;
        border-radius: 15px;
        margin-right: auto;
    }

    #submit_pwd_change {
        padding: 10px;
        border-radius: 15px;
    }
}