/**
 * style for the account page
 *
 * @author CHATEAUX Adrien
 */

h2 {
    margin-top: 0;
    color: white;
}

h3 {
    display: inline;
    color: white;
}

label {
    display: flex;
}

.text-line {
    margin-bottom: 16px;
}

.div-form {
    margin-bottom: 12px;
}

.card {
    display: flex;
    padding: 24px;
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
}

.table-line {
    width: 100%;
    margin-bottom: 2px;
    border: #7E7E7E 1px solid;
}

.text-box {
    padding: 3px;
    margin: 2px;
    width: 250px;
}

.shown-line {
    display: flex;
    width: 100%;
}

.arrow-down {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

#submit-config-change {
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
}

#submit-config-change:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: #dedede;
}

#form-modif-config input[type="number"] {
    width: 185px;
}

#configuration-card {
    margin-bottom: 12px;
}

#members-table {
    display: flex;
    border: #7E7E7E 1px solid;
    padding: 2px 2px 20px 2px;
}