/**
 * Stylesheet for the home page
 *
 * @author SOLLIER Alexandre
 */

main > .card {
    margin: 0 auto;
}

main > .card:not(:last-child) {
    margin-bottom: 16px;
}

.message-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.message-form > textarea {
    resize: none;
    background-color: #313131;
    flex: 1;
    margin-bottom: 8px;
}

.message-form input[type="submit"] {
    align-self: flex-end;
    padding: 6px 24px;
    width: max-content;
    border: none;
    text-transform: capitalize;
    background-color: #9C4ABD;
    color: #FFFFFFDE;
    border-radius: 4px;
}

.message-form-buttons,
.message-form-buttons > * {
    display: flex;
    align-items: center;
}

.message-form-buttons > :first-child {
    flex: 1;
}

.message-length-counter {
    margin-right: 8px;
}

.send-message-button[disabled] {
    opacity: 0.5;
}

.warning-chars-left {
    color: #F57C0099;
}

.critical-chars-left {
    color: #E64A1999;
}

.post-title {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 8px;
    font-weight: normal;
    font-size: 1rem;
}

.post-message {
    color: #FFFFFFDE;
}

.post-tag {
    text-decoration-style: dotted;
    color: #9C4ABD;
}

.card > img {
    max-width: 100%;
}

.message-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    text-shadow: #00000099 0 0 8px;
}

.message-footer > div {
    display: flex;
    align-items: center;
}

.message-footer-reaction > span:not(:last-child) {
    margin-right: 6px;
}

.message-footer-reaction[data-reaction-type="love"].selected {
    color: #D94179;
    text-shadow: #D9417999 0 0 8px;
}

.message-footer-reaction[data-reaction-type="cute"].selected {
    color: #1E88E5;
    text-shadow: #1E88E599 0 0 8px;
}

.message-footer-reaction[data-reaction-type="style"].selected {
    color: #43A047;
    text-shadow: #43A04799 0 0 8px;
}

.message-footer-reaction[data-reaction-type="swag"].selected {
    color: #9C4ABD;
    text-shadow: #9C4ABD99 0 0 8px;
}

#pager {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pager > a {
    padding: 6px;
    text-decoration: none;
}

#pager > a:not(:last-child) {
    margin-right: 4px;
}

#pager > a.selected {
    color: #8F23BB;
    font-weight: bold;
}

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-container {
    padding: 16px;
    width: 512px;
    height: 256px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal-container > div {
    display: flex;
    flex: 1;
}

.dialog-header {
    background-color: initial;
    border: none;
    box-shadow: none;
    margin-bottom: 8px;
}

.dialog-header > h2 {
    margin: 0 auto 0 0;
}

@media (min-width: 656px) {
    main > .card {
        width: 600px;
    }
}