/**
 * Stylesheet for the home page
 *
 * @author SOLLIER Alexandre
 */

main > .card {
    margin: 0 auto;
}

main > .card:not(:last-child) {
    margin-bottom: 16px;
}

#send-message-form {
    display: flex;
    flex-direction: column;
}

#send-message-form > textarea {
    resize: none;
    background-color: #313131;
    flex: 1;
    margin-bottom: 8px;
}

#send-message-form input[type="submit"] {
    align-self: flex-end;
    padding: 6px 24px;
    width: max-content;
    border: none;
    text-transform: capitalize;
    background-color: #9C4ABD;
    color: #FFFFFFDE;
    border-radius: 4px;
}

#send-message-buttons,
#send-message-buttons > * {
    display: flex;
    align-items: center;
}

#send-message-buttons > :first-child {
    flex: 1;
}

#message-length-counter {
    margin-right: 8px;
}

#send-message-button[disabled] {
    opacity: 0.5;
}

.warning-chars-left {
    color: #F57C0099;
}

.critical-chars-left {
    color: #E64A1999;
}

.post-title {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 8px;
    font-weight: normal;
    font-size: 1rem;
}

.post-message {
    color: #FFFFFFDE;
}

.card > img {
    max-width: 100%;
}

.message-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.message-footer > div {
    display: flex;
    align-items: center;
}

.message-footer-reaction > span:not(:last-child) {
    margin-right: 6px;
}

.reaction-love.selected {
    color: #D94179;
}

.reaction-cute.selected {
    color: #1E88E5;
}

.reaction-style.selected {
    color: #43A047;
}

.reaction-swag.selected {
    color: #9C4ABD;
}

#pager {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pager > a {
    padding: 6px;
    text-decoration: none;
}

#pager > a:not(:last-child) {
    margin-right: 4px;
}

#pager > a.selected {
    color: #8F23BB;
    font-weight: bold;
}

@media (min-width: 656px) {
    main > .card {
        width: 600px;
    }
}