/**
 * Stylesheet for the home page
 *
 * @author SOLLIER Alexandre
 */

main > .card {
    margin: 0 auto;
}

main > .card:not(:last-child) {
    margin-bottom: 16px;
}

#send-message-form {
    display: flex;
    flex-direction: column;
}

#send-message-form > textarea {
    resize: none;
    background-color: #313131;
    flex: 1;
    margin-bottom: 8px;
}

#send-message-form input[type="submit"] {
    align-self: flex-end;
    padding: 6px 24px;
    width: max-content;
    border: none;
    text-transform: capitalize;
    background-color: #8F23BB;
    color: #FFFFFFDE;
    border-radius: 4px;
}

#send-message-buttons,
#send-message-buttons > * {
    display: flex;
    align-items: center;
}

#send-message-buttons:nth-child(2) {
    justify-content: flex-end;
}

#message-length-counter {
    margin-right: 8px;
}

#send-message-button[disabled] {
    opacity: 0.5;
}

.warning-chars-left {
    color: #F57C0099;
}

.critical-chars-left {
    color: #E64A1999;
}

.post-title {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 8px;
}

.post-message {
    color: #FFFFFFDE;
}

.card > img {
    max-width: 100%;
}

@media (min-width: 656px) {
    main > .card {
        width: 600px;
    }
}