/**
 * style for the login page
 *
 * @author RADJA Samy
 */

main {
    justify-content: center;
}

p {
    text-align: center;
}

.login-box {
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
}

.login-image {
    width: 237px;
}

.login-button {
    border: none;
    color: #313131;
    background-color: #f2f2f2;
    margin-top: 5%;
    padding: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}

.login-button:hover {
    background-color: #dedede;
}

.create-account-button {
    border: none;
    color: #f2f2f2;
    background-color: #8f23bb;
    margin-top: 5%;
    padding: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
}

.create-account-button:hover {
    background-color: #7f24a5;
}

.forgotten-password {
    color: #6EABD8;
    margin-top: 1%;
    text-decoration: underline;
    text-align: center;
}

#login-input-trigger {
    display: block;
}

#login-form {
    margin-top: 5%;
    display: grid;
}

@media (max-width: 656px), (max-height: 500px) {
    .login-box {
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

}