/**
 * style for the login page
 *
 * @author RADJA Samy
 */
form {
    display: flex;
    flex-direction: column;
}

.input-zone {
    margin-top: 8px;
    width: 185px;
    margin-bottom: 12px;
}

.forgotten-password-box {
    margin: 50px auto auto auto;
}

.button-submit {
    border: none;
    background-color: #9C4ABD;
    color: #FFFFFFDE;
    padding: 6px 24px;
    border-radius: 4px;
    margin-top: 12px;
    width: 150px;
}