/**
 * style for the login page
 *
 * @author RADJA Samy
 */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #FFFFFFDE;
}

label {
    display: flex;
}

.card {
    display: flex;
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
    padding: 0 16px 16px;
}

.input-zone {
    background-color: #313131;
    width: 185px;
    margin-bottom: 12px;
}

.submit-button {
    border: none;
    background-color: #9C4ABD;
    color: #FFFFFFDE;
    padding: 6px 24px;
    border-radius: 4px;
    margin-top: 12px;
}