/**
 * style for the account page
 *
 * @author CHATEAUX Adrien
 */

h2 {
    margin-top: 0;
    color: white;
}

h3 {
    display: inline;
    color: white;
}

label {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
}

.text-line {
    margin-bottom: 1rem;
}

.div-form {
    margin-bottom: 1rem;
}

.card {
    display: flex;
    width: 768px;
    margin-top: 1rem;
    padding: 25px;
}

#submit-config-change {
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
}

#submit-config-change:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: #dedede;
}

#form-modif-config input[type="number"] {
    background-color: #313131;
    width: 185px;
}