/**
 * style for the account page
 *
 * @author CHATEAUX Adrien
 */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 0;
    color: white;
}

h3 {
    display: inline;
    color: white;
}

label {
    display: flex;
}

.text-line {
    margin-bottom: 16px;
}

.div-form {
    margin-bottom: 12px;
}

.card {
    display: flex;
    padding: 24px;
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
}

#submit-config-change {
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
}

#submit-config-change:hover {
    cursor: pointer;
    transition: background-color 0.5s ease;
    background-color: #dedede;
}

#form-modif-config input[type="number"] {
    background-color: #313131;
    width: 185px;
}